@use 'sass:math';

$font-size: 16px;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }

  @return $number;
}

@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-unit($pxval);
  }

  $base: $font-size;
  @if not unitless($base) {
    $base: strip-unit($base);
  }

  @return math.div($pxval, $base) * 1rem;
}
