@use '../variables' as *;

:root {
  --color-bg-alpha: #{$color-tertiary-gamma};
  --color-bg-beta: #{$color-secondary-epsilon};
  --color-bg-gamma: #{$color-white};
  --color-bg-delta: rgba($color-secondary-epsilon, 0.06);
  --color-bg-epsilon: #{$color-primary-delta};
  --color-bg-zeta: #{$color-white};
  --color-txt-alpha: #{$color-secondary-gamma};
  --color-txt-beta: #{$color-primary-zeta};
  --color-txt-gamma: #{$color-secondary-epsilon};
  --color-txt-delta: #{$color-primary-epsilon};
  --color-shadow-alpha: #{$color-primary-delta};
}

[theme='dark'] {
  --color-bg-alpha: #{$color-secondary-delta};
  --color-bg-beta: #{$color-secondary-alpha};
  --color-bg-gamma: #{$color-secondary-alpha};
  --color-bg-delta: rgba($color-primary-delta, 0.06);
  --color-bg-epsilon: #{$color-secondary-alpha};
  --color-bg-zeta: #{$color-secondary-beta};
  --color-txt-alpha: #{$color-white};
  --color-txt-beta: #{$color-white};
  --color-txt-gamma: #{$color-primary-delta};
  --color-txt-delta: #{$color-primary-delta};
  --color-shadow-alpha: #{$color-secondary-alpha};
}

html {
  font-family: $font-spartan;
}

body {
  background-color: var(--color-bg-alpha);
}
